@font-face {
    font-family: "TT Travels";
    font-weight: 400;
    font-style: normal;
    src: url(TT_Travels/TTTravels-Regular.woff2) format(woff2),
         url(TT_Travels/TTTravels-Regular.woff) format(woff);
}
@font-face {
    font-family: "TT Travels";
    font-weight: 500;
    font-style: normal;
    src: url(TT_Travels/TTTravels-Medium.woff2) format(woff2),
         url(TT_Travels/TTTravels-Medium.woff) format(woff);
}

p {
    color: #0e0e0e;
    margin: 0;
    font-family: "TT Travels";
    font-size: 24px;
    font-weight: 400;
}

.page_container {
    margin: 0 auto;
    max-width: 1240px;
	display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}
.image_container {
    width: 100%;
    max-height: 100%;
    grid-column-start: 1;
    grid-column-end: 13;
    height: auto;
    position: relative;
}
.title_screen {
    width: 100%;
    max-height: 100%;
    grid-column-start: 1;
    grid-column-end: 13;
    height: auto;

}
.title_note {
    font-family: "TT Travels", sans-serif;
    position: absolute;
    top: 500px;
    left: 630px;    
    text-align: right;
}
section {
    grid-column: 1 / 13;
    margin: 0 auto;
    max-width: 1241px;
	display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}
.section_title {
    margin: 0;
    margin-top: 120px;
    font-family: "TT Travels", sans-serif;
    font-weight: bold;
    font-size: 48px;
    grid-column: 1 / 13;
}
.basics {
    grid-column: 1 / 13;
}
.basics_desc {
    margin: 0;
}
.section_desc {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 18px;
    font-family: "TT Travels", sans-serif;
    font-size: 24px;
    border-radius: 13px;
    background-color: #f6f6f6;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.10);
}
.basics_1 {
    grid-column: 1 / 7;
}
.basics_2 {
    grid-column: 7 / 13;
}
.basics_note {
    margin-top: auto;
    font-size: 16px;
    color: #676767;
}
.business{
    margin-top: 20px;
    grid-column: 1 / 5;
}
.client{
    margin-top: 20px;
    grid-column: 5 / 9;
}
.marketing{
    margin-top: 20px;
    grid-column: 9 / 13;
}
.principles_1 {
    grid-column: 1 / 7;
}
.principles_2 {
    grid-column: 7 / 13;
}
.principles_3 {
    grid-column: 1 / 5;
}
.principles_4 {
    grid-column: 5 / 13;
}

.full-width {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1241px 1fr;
    column-gap: 0px;
}
.example {
    background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) ), url(img/pizza_time.png);
    background-position: -20% -5%;
    background-repeat: repeat-x;
}
.example_text {
    margin: 0;
    margin-top: 160px;
    grid-column: 2 / 3;
    font-family: "TT Travels";
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}
.default_text {
    grid-column: 1 / 13;
}
.lifetime_value {
    margin-top: 150px;
}
.lifetime_value_desc {
    grid-column: 1 / 13;
}
.lifetime_value_desc {
    grid-column: 1 / 9;
}
.lifetime_value_pic {
    grid-column: 9 / 13;
}
.instruments_icon {
    margin: auto;
    grid-column: 1 / 3;
}
.instruments_text {
    grid-column: 3 / 13;
}
.instruments_hint {
    grid-column: 1 / 13;
}
.left_half {
    grid-column: 1 / 7;
}
.right_half {
    grid-column: 7 / 13;
}
.section_desc_borderless {
    display: grid;
    grid-template-columns: 90px 1fr;
    margin: 0;
    padding-top: 0px;
    font-family: "TT Travels", sans-serif;
    font-size: 24px;
}
.background_numbers {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin: 30px 0;
}
.text_overlay {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: auto 0;
}
.carousel_wrap {
    margin: 30px auto;
    width: 1400px;
    overflow: hidden;
}
.carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.carousel_item {
    position: relative;
    left: -475px;
    box-sizing: border-box;
    display: flex;
    min-width: 505px;
    max-width: 505px;
    min-height: 362px;
    border-radius: 13px;
    background-color: #0059DF;
}
.carousel_text {
    display: block;
    margin: auto 25px;
    color: #ffffff;
}
.controls {
    display: flex;
    justify-content: center;
}
.button {
    margin-top: 30px;
    color:#0059DF;
    background: none;
    border: none;
    width: 50px;
    height: 75px;
}
.button:hover svg{
    color: black;
    cursor: pointer;
}
.button + .button {
    margin-left: 20px;
}

.hint_cards {
    height: 360px;
    border-radius: 13px;
    background-color: #0059DF;
    display: flex;
    position: relative;
    overflow: hidden;
}
.card_1 {
    grid-column: 1 / 4;
}
.card_2 {
    grid-column: 4 / 7;
}
.card_3 {
    grid-column: 7 / 13;
}
.card_4 {
    grid-column: 1 / 4;
}
.card_5 {
    grid-column: 4 / 9;
}
.card_6 {
    grid-column: 9 / 13;
}
.hint_text {
    margin: auto 15px;
    color: #ffffff;
}
.hint_number {
    position: absolute;
    right: -3%;
    top: 40%;
}
.audience_one {
    grid-column: 1 / 7;
}
.audience_two {
    grid-column: 7 / 13;
}
.ta_number {
    margin: auto;
    grid-column: 1 / 2;
}
.ta_text {
    grid-column: 2 / 13;
}
.horizontal_line {
    grid-column: 1 / 13;
    height: 1px;
    border-bottom: 1px solid #0059DF;
}
.analysis_1 {
    grid-column: 1 / 7;
}
.analysis_2 {
    position: relative;
    overflow: hidden;
    grid-column: 7 / 13;
}
.analysis_bg {
    position: absolute;
    right: 0%;
    top: 25%;
}
.analysis_3 {
    grid-column: 1 / 5;
}
.analysis_4 {
    grid-column: 5 / 9;
}
.analysis_5 {
    grid-column: 9 / 13;
}
.mistake_point {
    grid-column: 1 / 2;
    margin: auto;
}
.mistake_text {
    margin-top: 18px;
    grid-column: 2 / 13;
}
.mistake_text + .mistake_text {
    margin-top: 0;
}
.utp {
    margin-top: 20px;
}
.utp_definition, .utp_result {
    grid-column: 1 / 13;
}
.utp_formula {
    grid-column: 1 / 13;
    font-size: 36px;
    text-align: center;
}
.utp_description {
    grid-column: 1 / 5;
    text-align: center;
}
.utp_description ~ .utp_description {
    grid-column: 5 / 9;
}
.utp_description ~ .utp_description ~ .utp_description{
    grid-column: 9 / 13;
}
.mistake_highlight {
    color: #DB0D27;
    grid-column: 1 / 5;
    font-weight: 700;
}
.utp_methods {
    grid-column: 1 / 5;
    position: relative;
}
.utp_methods > p {
    margin-bottom: 30px;
}
.utp_methods ~ .utp_methods {
    grid-column: 5 / 9;
}
.utp_methods ~ .utp_methods ~ .utp_methods {
    grid-column: 9 / 13;
}
.tick {
    position: absolute;
    bottom: 2%;
    right: 1%;
}
.utp_example {
    margin-top: 40px;
    grid-column: 1 / 13;
}
.table {
    grid-column: 1 / 13;
}
.books {
    margin: 0;
    margin-top: 120px;
    line-height: 50px;
    background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) ), url(img/book.png);
    background-position: -10% -5%;
    background-repeat: repeat-x;
}
.books_text, .books_title {
    grid-column: 2 / 3;
}
.books_title {
    margin-top: 0px;
}